dotfiles/.config/ml4w/cache/*
.zcompdump*

# This file is overwritten by a script whenever we want to change display configuration so it changes constantly.
dotfiles/.config/hypr/conf/monitors/default.conf
